<div>
  <h1>Accounts:</h1>
    <h2>External Accounts:</h2>
    <ul>
    {{range .ExternalAccounts}}
      <li>ID: {{.Id}}</li>
      <ul>
        <li>Name: {{.Name}}</li>
        <li>Description: {{.Description}}</li>
      </ul>
    {{end}}
    </ul>
    <h2>Internal Accounts:</h2>
    <ul>
    {{range .InternalAccounts}}
      <li>ID: {{.Id}}</li>
      <ul>
        <li>Name: {{.Name}}</li>
        <li>Description: {{.Description}}</li>
        <li>Balance: {{.Balance}}</li>
      </ul>
    {{end}}
    </ul>
</div>
